<app-header></app-header>
<div class="produtos">
    <header>
      <h1>Nossos Produtos</h1>
    </header>
  
    <section class="cards">
      <div class="card" *ngForm="let produto of produtos">
        <img [src]="produto.imagem" alt="{{ produto.nome }}" class="card-img" />
        <div class="card-content">
          <h2 class="card-title">{{ produto.nome }}</h2>
          <p class="card-description">{{ produto.descricao }}</p>
          <p class="card-preco">{{ produto.preco }}</p>
        </div>
      </div>
    </section>
  </div>

