<app-header></app-header>
<section class="produtos-page">
  <!-- Barra Lateral de Categorias -->
  <aside class="sidebar">
    <h3>Máquinas</h3>
    <ul class="categories">
      <li class="category-title">Toolbox</li>
      <li (click)="filtrarProdutos('calotas')">Máquina 1</li>
      <li (click)="filtrarProdutos('pneus')">Máquina 2</li>
      <li (click)="filtrarProdutos('rodas')">Máquina 3</li>

      <li class="category-title">Express</li>
      <li (click)="filtrarProdutos('express-toolbox')">Máquina 4</li>
      <li (click)="filtrarProdutos('fiat')">Máquina 5</li>
      <li (click)="filtrarProdutos('ford')">Máquina 6</li>
      <li (click)="filtrarProdutos('honda')">Máquina 7</li>

      <li class="category-title">Outros</li>
      <li (click)="filtrarProdutos('206')">Outra 1</li>
      <li (click)="filtrarProdutos('207')">Outra 2</li>
      <li (click)="filtrarProdutos('208')">Outra 3</li>
    </ul>
  </aside>

  <!-- Listagem de Produtos -->
  <div class="product-list">
    <header class="product-header">
      <h2>Nossos Produtos</h2>
      <p>{{ produtosFiltrados.length }} Produtos</p>
      <div>
        <button (click)="filtrarProdutos('all')">Todos</button>
        <button (click)="filtrarProdutos('drawer')">Teste 1</button>
        <button (click)="filtrarProdutos('security')">Teste 2</button>
      </div>
    </header>

    <div class="products">
      <div *ngFor="let produto of produtosFiltrados" class="product-card">
        <div (click)="abrirModal(produto)">
          <img [src]="produto.imagem" [alt]="produto.nome" width="250" height="250" />
          <h3>{{ produto.nome }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="produtoSelecionado">
    <div class="modal-content">
        
        <h2>{{ produtoSelecionado.nome }}</h2>
        <img [src]="produtoSelecionado.imagem" alt="{{ produtoSelecionado.nome }}" width="450" height="450" />
        
        <div class="produto-descricao">
            <p>{{ produtoSelecionado.descricao }}</p>
        </div>
        
        <!-- Adicionando o iframe do produto -->
        <div class="produto-video" *ngIf="produtoSelecionado.linkVideo">
          <iframe [src]="produtoSelecionado.linkVideo "width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </div>
        <span class="close" (click)="fecharModal()">&times;</span>
    </div>
  </div>

</section>
<app-footer></app-footer>