@import "../../../color-variables.scss";
.produtos-page {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;

  .sidebar {
    flex: 1;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.2rem;
      color: $primary-text;
      margin-bottom: 1rem;
    }

    .categories {
      list-style: none;
      padding: 0;

      .category-title {
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: $secondary-text;
      }

      li {
        margin: 0.5rem 0;
        cursor: pointer;
        color: $secondary-text;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .product-list {
    flex: 3;

    .product-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      h2 {
        font-size: 1.5rem;
        color: $primary-text;
      }

      p {
        font-size: 0.9rem;
        color: $secondary-text;
      }

      .product-filter {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        color: $secondary-text;
      }
    }

    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      .product-card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: center;

        .discount-badge {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: $secondary-color
        }
      }
    }
  }
}