<app-header></app-header>
<section class="produtos-page">
  <!-- Barra Lateral de Categorias -->
  <aside class="sidebar">
    <h3>Máquinas</h3>
    <ul class="categories">
      <li class="category-title">Accu</li>
      <li (click)="filtrarProdutos('drawer')">Drawer</li>
      <li (click)="filtrarProdutos('cabinet')">Cab</li>
     

      <li class="category-title">Express</li>
      <li (click)="filtrarProdutos('express-toolbox')">Toolbox</li>
      <li (click)="filtrarProdutos('locker')">Locker</li>

      <li class="category-title">Outros</li>
      <li (click)="filtrarProdutos('security')">ProLock</li>

    </ul>
  </aside>

  <!-- Listagem de Produtos -->
  <div class="product-list">
    <header class="product-header">
      <h2>Nossos Produtos</h2>
      <p>{{ produtosFiltrados.length }} Produtos</p>
      <div>
        <button (click)="filtrarProdutos('all')">Todos</button>
        <button (click)="filtrarProdutos('drawer')">Drawer</button>
        <button (click)="filtrarProdutos('security')">Locker</button>
      </div>
    </header>

    <div class="products">
      <div *ngFor="let produto of produtosFiltrados" class="product-card">
        <div (click)="abrirModal(produto)">
          <img [src]="produto.imagem" [alt]="produto.nome" width="250" height="250" />
          <h3>{{ produto.nome }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="produtoSelecionado">
    <div class="modal-content">

      <h2>{{ produtoSelecionado.nome }}</h2>
      <img [src]="produtoSelecionado.imagem" alt="{{ produtoSelecionado.nome }}" width="450" height="450" />

      <div class="produto-descricao">
        <p>{{ produtoSelecionado.descricao }}</p>
        <button><a href="{{produtoSelecionado.linkvideo}}" target="_blank">VEJA O VÍDEO!</a></button>
      </div>
      
      <span class="close" (click)="fecharModal()">&times;</span>
    </div>
  </div>

</section>
<app-footer></app-footer>