<footer class="pad-70">
    <div class="footer-info">
        <img ngSrc="/assets/logo-main.png" width="200" height="100" alt="i9 BR Group Logo"/>
        <div class="contact-details">
            <p>R. Apeninos, 485 - Liberdade, São Paulo - SP</p>
            <p>carlosfilho&#64;i9brgroup.com.br</p>
            <p>CEP: 01533-000</p>
            <p>Telefone: <a href="tel:+551131410749">+55 11 3141-0749</a></p>
        </div>
    </div>
    <div class="socials">
        <a href="#" target="_blank">
            <img ngSrc="/assets/linkedin.png" width="50" height="50" alt="LinkedIn"/>
        </a>
        <a href="#" target="_blank">
            <img ngSrc="/assets/youtube.png" width="50" height="50" alt="YouTube"/>
        </a>
        <a href="#" target="_blank">
            <img ngSrc="/assets/insta.png" width="50" height="50" alt="Instagram"/>
        </a>
        <a href="#" target="_blank">
            <img ngSrc="/assets/face.png" width="50" height="50" alt="Facebook"/>
        </a>
    </div>
</footer>
