<header class="app-header">
    <div class="logo">
        <button routerLink=""><img src="./assets/logo.png" width="45" height="75" alt="Logo"></button>
        
    </div>
    <div class="center-content">
        <span>Parceira Exclusiva da</span>
        <img src="./assets/cribmaster-logo.png" width="150" height="50" alt="CribMaster Logo">
    </div>
    <nav class="navigation">
        <button routerLink="/treinamentos">Treinamentos</button>
        <button routerLink="/solucoes">Soluções</button>
        <button routerLink="/produtos">Produtos</button>
        <button routerLink="/sobre">Sobre</button>
    </nav>
</header>
<router-outlet />