<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>I9 BR Group</span>
            <h1>Importadora</h1>
        </div>
        <img ngSrc="/assets/principal.png" width="669" height="536" alt="Imagem principal">
    </section>


    <section class="benefit-section">
        <benefit-card card-title="Equipe capacitada" img-path="/assets/team.png"
            card-description="Na I9, contamos com profissionais altamente qualificados e especializados, preparados para entender as necessidades do seu negócio e oferecer soluções personalizadas. Nossa equipe é treinada para integrar tecnologias de ponta e garantir uma implementação eficiente, com suporte dedicado em cada etapa do processo.">
        </benefit-card>
        <benefit-card card-title="Seus projetos guiados do zero" img-path="/assets/project-guide.png"
            card-description="Transformamos suas ideias em realidade. Desde o planejamento inicial até a execução final, guiamos seus projetos com expertise e tecnologia avançada, garantindo resultados que otimizam processos e impulsionam a produtividade da sua empresa.">
        </benefit-card>
    </section>

    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                99,3% de<br />
                <b>Confiabilidade</b>
            </h2>
        </div>
        <p>Temos equipamentos no Brasil que operam continuamente há mais de 24 meses resultando em níveis de
            confiabilidade acima de
            99,3%.</p>
    </section>

    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                ZERO<br />
                <b>Dificuldade</b>
            </h2>
        </div>
        <p>A facilidade de uso do equipamento é total, pois o usuário já está familiarizado com a "máquina de
            salgadinho".</p>
    </section>

    <section class="reviews-container">
        <div class="review-card">
            <div class="review-header">
                <img src="assets/profile.jpg" alt="Profile Picture" class="profile-picture">
                <div class="reviewer-info">
                    <h4 class="reviewer-name">BOSCH</h4>
                    <p class="review-date">21 de Agosto de 2024</p>
                </div>
            </div>
            <div class="review-body">
                <p class="review-text">A BOSCH precisava eliminar erros nos registros das fichas de EPIs e buscava uma
                    solução que aumentasse sua produtividade
                    e fosse compatível com o e-Social. Com a implementação do software e dos dispensários da Cribmaster,
                    a empresa não só
                    atingiu esses objetivos, como também reduziu o consumo de EPIs em mais de 20%.</p>
            </div>
            <div class="review-footer">
                <span class="rating">★★★★★</span>
            </div>
        </div>
        <div class="review-card">
            <div class="review-header">
                <img src="assets/profile.jpg" alt="Profile Picture" class="profile-picture">
                <div class="reviewer-info">
                    <h4 class="reviewer-name">Empresa 2</h4>
                    <p class="review-date">22 de Agosto de 2024</p>
                </div>
            </div>
            <div class="review-body">
                <p class="review-text">Mudou a minha empresa.</p>
            </div>
            <div class="review-footer">
                <span class="rating">★★★★★</span>
            </div>
        </div>
        <div class="review-card">
            <div class="review-header">
                <img src="assets/profile.jpg" alt="Profile Picture" class="profile-picture">
                <div class="reviewer-info">
                    <h4 class="reviewer-name">Empresa 3</h4>
                    <p class="review-date">22 de Agosto de 2024</p>
                </div>
            </div>
            <div class="review-body">
                <p class="review-text">Mudou a minha empresa.</p>
            </div>
            <div class="review-footer">
                <span class="rating">★★★★★</span>
            </div>
        </div>
        <div class="review-card">
            <div class="review-header">
                <img src="assets/profile.jpg" alt="Profile Picture" class="profile-picture">
                <div class="reviewer-info">
                    <h4 class="reviewer-name">Empresa 4</h4>
                    <p class="review-date">22 de Agosto de 2024</p>
                </div>
            </div>
            <div class="review-body">
                <p class="review-text">Mudou a minha empresa.</p>
            </div>
            <div class="review-footer">
                <span class="rating">★★★★★</span>
            </div>
        </div>
    </section>



    <section class="cta-section pad-70">
        <h2>Quer elevar seu negócio <b>a outro nível?</b></h2>
        <a routerLink="/solucoes" target="_top">
            <btn-primary btn-text="Veja um pouco do que fazemos"></btn-primary>
        </a>
    </section>

    <app-footer></app-footer>
</main>