<app-header></app-header>
<div id="top"></div>

<div class="page-solucoes">
    <!-- Seção Soluções -->
    <section class="header-solucoes">
        <div class="title">
            <h2>Conheça nossas Soluções</h2>
            <p><strong>Serviços completos</strong></p>
        </div>
        <div class="content">
            <div class="descricao">
                <p>

                    Disponibilizamos software, equipamentos e tecnologias que possibilitam o controle de qualquer tipo e
                    dimensão de material não produtivo (inclusive objetos minúsculos, como uma agulha). Nossos sistemas
                    registram e monitoram a localização, uso, consumo, retirada, devolução, calibração, lote, validade e
                    retrabalhos efetuados.

                </p>
                <p>
                    Seja por meio de crachá, senha ou biometria, o colaborador será identificado e qualquer transação
                    será realizada conforme os acessos e limites definidos pelo cliente, os quais podem ser determinados
                    por função, máquina, turno, centro de custo, entre outros. O controle é realizado por meio de
                    alertas e relatórios automáticos que indicam desvios e resultados, facilitando a tomada de decisão
                    tanto pelo colaborador quanto por seus gestores. Utilizamos tecnologias como BEACON (IoT), RFID e
                    dispensários eletrônicos, controlados por softwares de gestão, para implementar esse controle.
                    Nossas soluções, de arquitetura simples, podem operar através da rede do cliente ou por meio de 4G,
                    eliminando assim possíveis conflitos com as políticas globais de TI da organização.
                </p>
                <p>
                    Para encontrar a solução que melhor atenda às suas necessidades, uma empresa deve se perguntar o que
                    realmente deseja
                    resolver em seu dia a dia.

                    Se a empresa enfrenta um alto risco de processos trabalhistas relacionados à entrega e uso de EPIs,
                    as soluções como o
                    Terminal ou o sistema ONIS WEB serão adequadas.

                    Por outro lado, se a empresa já possui um controle eficiente, mas enfrenta um processo de entrega de
                    EPIs que é
                    trabalhoso, demorado ou restrito a horários específicos, a solução do dispensário será a mais
                    eficaz.
                </p>
                <p>Problemas trabalhistas com emissão eletrônica de ficha de EPI e controle efetivo de uso e troca dos
                    EPIs -> TERMINAL ou
                    ONIS WEB</p>
                <p>Retirada de EPIs 24/7 para aumento de produtividade -> Dispensário Express GEN3</p>
            </div>
            <div class="image-wrapper">
                <div class="texto-sobre-imagem">
                    <p>Serviços completos</p>
                </div>
                <img src="/assets/team.png" alt="Imagem das Soluções" />
            </div>
        </div>
    </section>
</div>

<div class="page-gestao-epi">
    <!-- Seção Gestão de EPI -->
    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Gestão de EPI</h3>
                <p>
                    Automatize e controle o uso de Equipamentos de Proteção Individual (EPIs) com soluções inteligentes
                    da I9. Nossos
                    sistemas permitem rastreamento em tempo real, monitoramento de consumo e alertas automáticos,
                    promovendo segurança,
                    eficiência e economia.
                </p>
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Imagem da Gestão de EPI" />
            </div>
        </div>
    </section>
    <section class="produtos-envolvidos">
        <h4>Produtos envolvidos</h4>
        <div class="produtos">
            <div class="produto">
                <img src="/assets/pou.png" alt="Ponto de Uso" />
                <p>POU</p>
            </div>
            <div class="produto">
                <img src="/assets/expresstoolbox.png" alt="Express Toolbox" />
                <p>Express Toolbox</p>
            </div>
        </div>
        <div class="saiba-mais">
            <a routerLink="/produtos" target="_top"><button>Saiba mais</button></a>
        </div>
        <br>
    </section>

    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Dispensário Express GEN3</h3>
                <p>
                    Dispensário modelo espira, com reconhecimento por aproximação de crachá, biometria ou digitação de
                    matrícula e senha,
                    que permite a retirada de até 70 SKUs de diferentes itens. Para funcionar, precisa de acesso à
                    internet, por cabo ou
                    Wi-Fi ou 4G/5G, e energia elétrica (220V). Reconhecidamente o equipamento mais robusto de mercado,
                    apresentando o maior
                    índice de disponibilidade.
                </p>
                <a href="https://youtu.be/SPMo2qNEZig?si=SSgjx7XFCCixDEbG" target="_blank" class="btn-auvo">Vídeo</a>
                <br />
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Projeto Social" />
            </div>
        </div>
    </section>

    <!-- Seção Produtos Envolvidos -->
    <section class="produtos-envolvidos">
        <h4>Produtos envolvidos</h4>
        <div class="produtos">
            <div class="produto">
                <img src="/assets/expresstoolbox.png" alt="Toolbox" />
                <p>Dispensário Toolbox GEN3</p>
            </div>
        </div>
        <div class="saiba-mais">
        </div>
    </section>

    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Terminal Ponto de Uso</h3>
                <p>
                    Terminal de autosserviço, com reconhecimento por aproximação de crachá, biometria ou digitação de
                    matrícula e senha, que
                    permite a solicitação, e devolução, de qualquer tipo de material não produtivo, com a entrega a ser
                    realizada pelo
                    Almoxarifado. Para funcionar, precisa de acesso à internet, por cabo ou Wi-Fi ou 4G/5G, e energia
                    elétrica (110/220V).
                    Reconhecidamente o processo mais simples e intuitivo de mercado, com o maior índice de
                    confiabilidade.
                </p>
                <a href="https://youtu.be/yNZKaA3tQZo?si=h0qth0xsQM2r-XSQ" target="_blank" class="btn-auvo">Vídeo</a>
                <br />
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Projeto Social" />
            </div>
        </div>
    </section>


    <!-- Seção Produtos Envolvidos -->
    <section class="produtos-envolvidos">
        <h4>Produtos envolvidos</h4>
        <div class="produtos">
            <div class="produto">
                <img src="/assets/pou.png" alt="POU" />
                <p>POU - Ponto de Uso</p>
            </div>
        </div>
        <div class="saiba-mais">
        </div>
    </section>

    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Plataforma ONIS WEB</h3>
                <p>
                    Plataforma WEB de autosserviço, com reconhecimento por digitação de matrícula e senha, que permite a
                    solicitação, e
                    devolução, de qualquer tipo de material não produtivo, com a entrega a ser realizada pelo
                    Almoxarifado. Para funcionar,
                    precisa de acesso à internet, podendo-se utilizar qualquer tipo de equipamento que consiga acessar
                    uma página da
                    internet (celular, tablet ou computador). Reconhecidamente o processo mais simples e intuitivo de
                    mercado, usado
                    principalmente na gestão de uso e troca de EPIs em operações de campo.
                </p>
                <!-- <a href="#" target="_blank" class="btn-auvo">Vídeo</a> !-->
                <br />
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Projeto Social" />
            </div>
        </div>
    </section>

    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Projeto Social</h3>
                <h4>Projeto Social em Paraisópolis. Entrega de Absorventes.</h4>
                <p>
                    A I9 se orgulha em contribuir com a comunidade de Paraisópolis por meio da distribuição de
                    absorventes para mulheres em
                    situação de vulnerabilidade. Este projeto social reflete nosso compromisso em gerar impacto
                    positivo, promovendo
                    dignidade e saúde para quem mais precisa.
                </p>
                <!-- <a href="#" target="_blank" class="btn-auvo">Vídeo</a> !-->
                <br />
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Projeto Social" />
            </div>
        </div>
    </section>
</div>

<!-- Seção Diferencial -->
<section class="diferencial">
    <div class="diferencial-content">
        <h4>Suporte</h4>
        <p>
            Oferecemos um suporte ativo através da plataforma AUVO, garantindo atendimento ágil e eficiente para atender
            todas as suas necessidades.
        </p>
        <a href="https://desk.auvo.com.br/Login" target="_blank" class="btn-auvo">Acesse a Plataforma AUVO</a>
    </div>
</section>


<app-footer></app-footer>