<app-header></app-header>
<div id="top"></div>

<div class="page-solucoes">
    <!-- Seção Soluções -->
    <section class="header-solucoes">
        <div class="title">
            <h2>Conheça nossas Soluções</h2>
            <p><strong>Serviços completos</strong></p>
        </div>
        <div class="content">
            <div class="descricao">
                <p>

                    Disponibilizamos software, equipamentos e tecnologias que possibilitam o controle de qualquer tipo e
                    dimensão de material não produtivo (inclusive objetos minúsculos, como uma agulha). Nossos sistemas
                    registram e monitoram a localização, uso, consumo, retirada, devolução, calibração, lote, validade e
                    retrabalhos efetuados.

                </p>
                <p>
                    Seja por meio de crachá, senha ou biometria, o colaborador será identificado e qualquer transação
                    será realizada conforme os acessos e limites definidos pelo cliente, os quais podem ser determinados
                    por função, máquina, turno, centro de custo, entre outros. O controle é realizado por meio de
                    alertas e relatórios automáticos que indicam desvios e resultados, facilitando a tomada de decisão
                    tanto pelo colaborador quanto por seus gestores. Utilizamos tecnologias como BEACON (IoT), RFID e
                    dispensários eletrônicos, controlados por softwares de gestão, para implementar esse controle.
                    Nossas soluções, de arquitetura simples, podem operar através da rede do cliente ou por meio de 4G,
                    eliminando assim possíveis conflitos com as políticas globais de TI da organização.
                </p>
            </div>
            <div class="image-wrapper">
                <div class="texto-sobre-imagem">
                    <p>Serviços completos</p>
                </div>
                <img src="/assets/team.png" alt="Imagem das Soluções" />
            </div>
        </div>
    </section>
</div>

<div class="page-gestao-epi">
    <!-- Seção Gestão de EPI -->
    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Gestão de EPI</h3>
                <p>
                    Automatize e controle o uso de Equipamentos de Proteção Individual (EPIs) com soluções inteligentes
                    da I9. Nossos
                    sistemas permitem rastreamento em tempo real, monitoramento de consumo e alertas automáticos,
                    promovendo segurança,
                    eficiência e economia.
                </p>
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Imagem da Gestão de EPI" />
            </div>
        </div>
    </section>
    <section class="produtos-envolvidos">
        <h4>Produtos envolvidos</h4>
        <div class="produtos">
            <div class="produto">
                <img src="/assets/accucab.png" alt="Accucab" />
                <p>Accucab</p>
            </div>
            <div class="produto">
                <img src="/assets/express-locker.png" alt="Express Locker" />
                <p>Express Locker</p>
            </div>
        </div>
        <div class="saiba-mais">
            <a routerLink="/produtos" target="_top"><button>Saiba mais</button></a>
        </div>
        <br>
    </section>
    <section class="gestao-epi">
        <div class="gestao-content">
            <div class="descricao-gestao">
                <h3>Projeto Social</h3>
                <h4>Projeto Social em Paraisópolis. Entrega de Absorventes.</h4>
                <p>
                    A I9 se orgulha em contribuir com a comunidade de Paraisópolis por meio da distribuição de
                    absorventes para mulheres em
                    situação de vulnerabilidade. Este projeto social reflete nosso compromisso em gerar impacto
                    positivo, promovendo
                    dignidade e saúde para quem mais precisa.
                </p>
                <!-- <a href="#" target="_blank" class="btn-auvo">Vídeo</a> !-->
                <br />
            </div>
            <div class="image-gestao">
                <img src="/assets/team.png" alt="Projeto Social" />
            </div>
        </div>
    </section>

    <!-- Seção Produtos Envolvidos -->
    <section class="produtos-envolvidos">
        <h4>Produtos envolvidos</h4>
        <div class="produtos">
            <div class="produto">
                <img src="/assets/express-locker.png" alt="Express Locker" />
                <p>Express Locker</p>
            </div>
        </div>
        <div class="saiba-mais">
        </div>
    </section>
</div>

<!-- Seção Diferencial -->
<section class="diferencial">
    <div class="diferencial-content">
        <h4>Suporte</h4>
        <p>
            Oferecemos um suporte ativo através da plataforma AUVO, garantindo atendimento ágil e eficiente para atender
            todas as suas necessidades.
        </p>
        <a href="https://desk.auvo.com.br/Login" target="_blank" class="btn-auvo">Acesse a Plataforma AUVO</a>
    </div>
</section>


<app-footer></app-footer>