<app-header></app-header>

<div class="sobre">
    <header>
      <h1>Sobre a i9 BR Group</h1>
    </header>
    
    <section class="empresa">
      <h2>Quem Somos</h2>
      <p>
        A i9 BR Group é uma empresa líder em soluções tecnológicas, especializada na importação e distribuição de produtos eletrônicos e componentes para diversos setores.
      </p>
      <p>
        Com um compromisso com a inovação e a excelência, nossa missão é fornecer produtos de alta qualidade e serviços excepcionais para nossos clientes, mantendo sempre a ética e a transparência em nossos negócios.
      </p>
    </section>
  
    <section class="valores">
      <h2>Nossos Valores</h2>
      <ul>
        <li>Inovação</li>
        <li>Qualidade</li>
        <li>Compromisso</li>
        <li>Ética</li>
      </ul>
    </section>
  
    <section class="contato">
      <h2>Contato</h2>
      <p>
        Para mais informações, entre em contato conosco através de nosso e-mail: <a href="mailto:contato@i9brgroup.com">contatoi9brgroup.com</a>.
      </p>
    </section>
  </div>
  