<app-header></app-header>
<section class="sobre-acic">
  <div class="header">
    <h2>Sobre a I9 BR Group</h2>
    <p>
      <span class="icon-building"></span>
      <span class="icon-building"></span>
      <span class="icon-building"></span>
    </p>
    <p>
      A I9 é um integrador exclusivo da Stanley Black&Decker, oferecendo as soluções da renomada marca CribMaster, líder
      em seu segmento. Essas soluções podem ser locadas, adquiridas ou contratadas através de um contrato de
      performance.
      Especializada em soluções para gestão de estoque, rastreamento e controle de uso de materiais indiretos (ou não
      produtivos e de ativos), a I9 visa otimizar o consumo e utilização, aumentando a produtividade e reduzindo
      despesas.
      Por exemplo, para EPIs, MRO, ferramentas, uniformes, instrumentos de medição, racks, caixas, computadores, etc.,
      nossas soluções automaticamente registram quem, quando, quanto, onde e o porquê do uso ao retirar ou devolver um
      item.
    </p>
  </div>

  <div class="feature-section">
    <div class="text-content">
      <h3>Ajudamos empresas a <span>ter sucesso</span> por meio do poder da tecnologia.</h3>
      <p>
        Na I9, acreditamos que a tecnologia é o motor que impulsiona o crescimento e a transformação das empresas. Nossa
        missão
        é simplificar processos, otimizar recursos e elevar a eficiência operacional por meio de soluções inovadoras e
        inteligentes.
        Com uma abordagem personalizada, entendemos as necessidades específicas de cada cliente e desenvolvemos
        estratégias que
        aliam inovação e praticidade. Mais do que oferecer tecnologia, proporcionamos ferramentas que capacitam empresas
        a tomar
        decisões mais assertivas, controlar seus recursos de forma eficaz e alcançar resultados concretos.
        Trabalhamos para criar parcerias sólidas e duradouras, onde o sucesso do cliente é o nosso maior objetivo. Seja
        para
        aumentar a produtividade, reduzir custos ou garantir uma gestão mais estratégica, estamos ao seu lado em cada
        etapa,
        fornecendo suporte e soluções que fazem a diferença.
        Na I9, ajudamos empresas a superar desafios e a conquistar novos patamares por meio do poder transformador da
        tecnologia.
      </p>
      <a routerLink="/solucoes" target="_top"><button class="button">Conheça nossas soluções</button></a>
    </div>
    <div class="image-content">
      <img src="/assets/logo-main.png" alt="Logo" />
    </div>
  </div>

  <div class="sobre-acic-info">
    <div class="card">
      <h3>Nossa História</h3>
      <p>
        A i9 BR Group tem a missão de apoiar seu crescimento por meio de modelos, produtos e processos inovadores.
        Atuamos no
        desenvolvimento de negócios, mercado, processos e pessoas, implementando soluções viáveis ​​que melhor se
        encaixem na
        sua estratégia de crescimento.

        Por meio de uma parceria com a Stanley Black&Decker, nossa divisão de Negócios fornece soluções de aquisição e
        gestão
        que controlam e reduzem automaticamente as despesas e o consumo relacionados a materiais indiretos e MRO. Além
        disso,
        fornecemos soluções FOD (Foreign Object Damage), aumentando a confiabilidade do seu processo e produto final.

        Nossa divisão de Desenvolvimento Humano, que começou em 1T2014, fornecerá uma solução inovadora e eficaz para
        aumentar a
        empregabilidade de estudantes universitários e gerentes juniores.

        Como dizemos: you <b>IMAGINE GREATER</b> ways to grow and <b>WE</b> will <b>POWER IT</b> through innovative
        solutions.
      </p>

    </div>
    <div class="card">
      <h3>Especialização</h3>
      <p>
        Gestão de mudanças, Soluções para aumentar a rentabilidade e empregabilidade, Desenvolvimento de canais de
        negócios e vendas, Desenvolvimento de estratégias de turnaround e crescimento, Pesquisa de mercado e Soluções de
        aquisição
        e gestão de materiais indiretos e MRO.
      </p>
    </div>
  </div>
  <br />
</section>
<app-footer></app-footer>