<app-header></app-header>
<div class="container">
    <div class="tabs">
        <a href="treinamentos" class="tab active" data-tab="dispensarios">Máquinas</a>
        <a href="treinamentos" class="tab" data-tab="advantage-web">Advantage Web</a>
        <a href="treinamentos" class="tab" data-tab="cribmaster">Cribmaster</a>
        <a href="treinamentos" class="tab" data-tab="biometria">Biometria</a>
        <a href="treinamentos" class="tab" data-tab="terminal">Terminal</a>
    </div>
    <div class="content">
        <div id="dispensarios" class="tab-content active">

            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">01 - Como abrir a porta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBl272tHdGNVsclBg?e=m8P1Sj" target="_blank">02 - Como fechar a porta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBmnK4Eg_yuWUVsiQ?e=i4qZFc" target="_blank">03 - Como puxar a gaveta para abastecimento?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBnoeXn1cimgCmYdw?e=uzNMER" target="_blank">04 - Como retirar a gaveta para manutenção?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBoBwihE_0nWwTxHw?e=4Cfupg" target="_blank">05 - Como fazer o ajuste de altura da gaveta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBp2hXOSKeP5MhnXQ?e=SP5y2o" target="_blank">06 - Como ajustar a divisória?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBqe3HUEIZV3P3U2w?e=cwV9tV" target="_blank">07 - Como retirar e colocar o motor da gaveta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBrUtvYoFXZ66NiLA?e=DJ26Hx" target="_blank">08 - Como retirar e colocar as conexões do motor da gaveta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBsXf2StNxm8ssqEQ?e=HmmxlV" target="_blank">09 - Tipos de motores?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBt2IDRA9FohAsXjA?e=oQdGsE" target="_blank">10 - Encaixe da mola?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBu1NqN6KqUjTTJoQ?e=cBHBm3" target="_blank">11 - Configuração de mola dupla?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">12 - Teste de mola dupla?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">13 - Variações de teste de motor?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">14 - Configurações iniciais do ponto de uso?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">15 - Configurações dos parâmetros da máquina?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">16 - Sobre a opção número 5?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">17 - Sobre a opção número 6?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">18 - Verificação das conexões elétricas e eletrônicas?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">19 - Demais conexões elétricas e eletrônicas da máquina?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">20 - Localização do transformador</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">21 - Nivelação da porta e regulagem do pé da máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">22 - Tipos de molas</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">23 - Troca mola grande</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">24 - Acessórios máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">25 - Acesso à máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">26 - Escolha item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">27 - Abastecimento itens</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">28 - Sincronização dados</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">29 - Tempo inatividade</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">30 - Máquina auxiliar</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">31 - Origem máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">32 - Tempo API</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">33 - Saída emissão</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">34 - Opção dispositivo</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">35 - Diagnóstico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">36 - Teste API URL</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">37 - Teste upload</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">38 - Informações redes</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">39 - Diagnóstico hardware</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">40 - Armazenamento dados</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">41 - Configurar Wi-Fi</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">42 - Registro equipamento</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">43 - Atualizar data</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">44 - Entendendo linhas e colunas das gavetas da máquina</a></div>
            </div>
        </div>
        <div id="advantage-web" class="tab-content">

            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">1 - Cadastrar novo centro de custo</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">2 - Como cadastrar nova função</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">3 - Cadastrar novo funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">4 - Inativar funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">5 - Mudar posição crib</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">6 - Criar novo cesto</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">7 - Como fazer relatório de transação</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">8 - Como fazer relatório de funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">9 - Cadastrar função crib master</a></div>



            </div>
        </div>
        <div id="cribmaster" class="tab-content">

            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">1 - Navegando pela tela de itens - Histórico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">2 - Pesquisa cadas função</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">3 - Cadastrar centro custo crib</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">4 - Cadastrar craft codes</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">5 - Cadastrar novo funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">6 - Inativar funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">7 - Acesse ADWEB</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">8 - Verificar máquina online</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">9 - Exportar lista</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">10 - Exportar lista itens</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">11 - Cadastrar item crib master</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">12 - Como criar bin</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">13 - Alterar item crib</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">14 - Exportar relatório</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">15 - Agendar relatório</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">16 - Verificar relatório agendado</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">17 - Cadastrar grupo</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">18 - Desinstalar crib master</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">19 - Como instalar crib master</a></div>



            </div>
        </div>
        <div id="biometria" class="tab-content">

            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">1 - Leitor de Código de Barras</a></div>



            </div>
        </div>
        <div id="terminal" class="tab-content">

            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">1 - Componentes do totem de auto-atendimento</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">2 - Instalando os componentes do totem de auto-atendimento</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">3 - Abastecendo a impressora</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">4 - Configurações iniciais do ponto de uso</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">5 - Opções pré definidas de configurações do ponto de uso (HOG)</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">6 - Como mudar o layout do sistema de visualização de EPIs</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">7 - Como habilitar o sistema para o modo offline, em caso de queda da internet</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">8 - Como criar um novo usuário para crachá não habilitado no sistema</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">9 - Como habilitar um crachá para funcionar como login e senha</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">10 - Opções de uso do modo favoritos do sistema</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">11 - Sobre a opção Hide Restricted Items</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">12 - Sobre a impressão do ticket</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">13 - Sobre a função Show Login text input</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">14 - Sobre a função time out</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">15 - Opção use password</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">16 - Sobre as opções logout on issue</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">17 - Opções de diagnóstico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">18 - Modo configuração - gerir funcionários</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">19 - Modo configuração - cestos</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">20 - Modo configuração nova posição</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">21 - Modo configuração - cesto, edit bin</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">22 - Modo configuração - funcionários</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">23 - Modo configuração - Editar funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">24 - Modo configuração - itens e suppliers, criar novo item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">25 - Modo configuração - itens e suppliers, editar item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">26 - Modo configuração - Transações</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">27 - Como emitir um item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">28 - Mensagem de erro ao emitir um item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">29 - Navegando pela tela de itens</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">30 - Informações de tela e configuração de teclado</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">31 - Configuração da impressora</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">32 - Inicializando o ATR com o Windows</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy" target="_blank">33 - Configurações iniciais crib master</a></div>
                

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>