<app-header></app-header>
<div class="container">
    <div class="tabs">
        <a href="treinamentos" class="tab active" data-tab="dispensarios">Máquinas</a>
        <a href="treinamentos" class="tab" data-tab="advantage-web">Advantage Web</a>
        <a href="treinamentos" class="tab" data-tab="cribmaster">Cribmaster</a>
        <a href="treinamentos" class="tab" data-tab="biometria">Biometria</a>
        <a href="treinamentos" class="tab" data-tab="terminal">Terminal</a>
    </div>
    <div class="content">
        <div id="dispensarios" class="tab-content active">
            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">01 - Como abrir a porta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBl272tHdGNVsclBg?e=m8P1Sj"
                        target="_blank">02 - Como fechar a porta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBmnK4Eg_yuWUVsiQ?e=i4qZFc"
                        target="_blank">03 - Como puxar a gaveta para abastecimento?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBnoeXn1cimgCmYdw?e=uzNMER"
                        target="_blank">04 - Como retirar a gaveta para manutenção?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBoBwihE_0nWwTxHw?e=4Cfupg"
                        target="_blank">05 - Como fazer o ajuste de altura da gaveta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBp2hXOSKeP5MhnXQ?e=SP5y2o"
                        target="_blank">06 - Como ajustar a divisória?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBqe3HUEIZV3P3U2w?e=cwV9tV"
                        target="_blank">07 - Como retirar e colocar o motor da gaveta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBrUtvYoFXZ66NiLA?e=DJ26Hx"
                        target="_blank">08 - Como retirar e colocar as conexões do motor da gaveta?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBsXf2StNxm8ssqEQ?e=HmmxlV"
                        target="_blank">09 - Tipos de motores?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBt2IDRA9FohAsXjA?e=oQdGsE"
                        target="_blank">10 - Encaixe da mola?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBu1NqN6KqUjTTJoQ?e=cBHBm3"
                        target="_blank">11 - Configuração de mola dupla?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBv-gVgQh-nJdC5KA?e=7XsD8B"
                        target="_blank">12 - Teste de mola dupla?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBxMKcX2aHCvELGMg?e=gv2dFZ"
                        target="_blank">13 - Variações de teste de motor?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEHK-A-cN9xYH4Gbg?e=RX6ZDk"
                        target="_blank">14 - Configurações iniciais do ponto de uso</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBwMZ7nidzMGyCAnQ?e=hbjp6M"
                        target="_blank">14 - Configurações dos parâmetros da máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBy2bD0iOJrdDRhCw?e=SIh2GC"
                        target="_blank">15 - Sobre a opção número 5?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBzh6zser2bXPA8kA?e=daQJv9"
                        target="_blank">16 - Sobre a opção número 6?</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaB0CCxPOsXx3ATlDQ?e=0aXgx5"
                        target="_blank">17 - Verificação das conexões elétricas e eletrônicas</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaB10xGmF16Nfk-CjQ?e=2QVHPF"
                        target="_blank">18 - Demais conexões elétricas e eletrônicas da máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBLQqXqtrGL9hgG-g?e=M0R5bC"
                        target="_blank">19 - Sensores do baú de entrega da porta</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBKnLpc6tks8ciBwA?e=Zkf1GT"
                        target="_blank">20 - Localização do transformador</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBJwxJJ5U1NGmjqlg?e=I5Gair"
                        target="_blank">21 - Nivelação da porta e regulagem do pé da máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBM2uB9AM3LrPNvrg?e=9aTeec"
                        target="_blank">22 - Tipos de molas</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBNJa1_co6zyGCQfQ?e=SdeQAI"
                        target="_blank">23 - Troca mola grande</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBOXm7UjR1owVDN-w?e=DrCxVc"
                        target="_blank">24 - Acessórios máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBQ1llEGMgoekN1CA?e=gTEi39"
                        target="_blank">25 - Acesso à máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBPn4AmK8hdhgXUpQ?e=SrK9AD"
                        target="_blank">26 - Escolha item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBRJLcEm8D2vDVBiA?e=cFbHm4"
                        target="_blank">27 - Abastecimento itens</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBSKDyemKH6fRoeQw?e=jZmZii"
                        target="_blank">28 - Sincronização dados</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBTlnpSMh0Sig6sYw?e=ObXutw"
                        target="_blank">29 - Tempo inatividade</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBU-1Z8lUDlRjVPzg?e=fmUDlM"
                        target="_blank">30 - Máquina auxiliar</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBVZ8_gCzqjdeWPRg?e=ob2QYY"
                        target="_blank">31 - Origem máquina</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBWU4V3IhCzvZ3JIw?e=63m3JJ"
                        target="_blank">32 - Tempo API</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBX3fsrlzf0ymX1RA?e=L6D2fe"
                        target="_blank">33 - Saída emissão</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBYU-bGOVTXR-LGGA?e=Lbjn22"
                        target="_blank">34 - Opção dispositivo</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBZdbXDlaotc-CObQ?e=X8mzb9"
                        target="_blank">35 - Diagnóstico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBaggo0r6Z6MVRU4w?e=6YNbJ3"
                        target="_blank">36 - Teste API URL</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBboxzMI-fcjatZrg?e=A2IhPW"
                        target="_blank">37 - Teste Upload</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBcMsHxlXAYz7LX7A?e=mTM0WH"
                        target="_blank">38 - Informações Redes</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBdDiZZwJ8daKuupA?e=FdmMue"
                        target="_blank">39 - Diagnóstico Hardware</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBeJy14nw6nNYL3Kg?e=SbhEZI"
                        target="_blank">40 - Armazenamento Dados</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBfQwK78V-DJZUhlw?e=ftJXQC"
                        target="_blank">41 - Configurar Wi-Fi</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBgwWpx-cXDPnbTCg?e=kQn4qF"
                        target="_blank">42 - Registro equipamento</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBhiWQ0vQ2phpuQqQ?e=5IhhF1"
                        target="_blank">43 - Atualizar data</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBiXQu3R0h9LVoI0w?e=ukgf9c"
                        target="_blank">44 - Entendendo linhas e colunas das gavetas da máquina</a></div>
            </div>
        </div>
        <div id="advantage-web" class="tab-content">
            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEnSlq8mbUCjRwwlA?e=ZrAToy"
                        target="_blank">1 - Cadastrar novo centro de custo</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEoQZSisz5BrjnHqg?e=1JhpD5"
                        target="_blank">2 - Como cadastrar nova função</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEpPnK_lbixdM3j4A?e=2qB2c5"
                        target="_blank">3 - Cadastrar novo funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEq2VXFolPjhmoWsA?e=EO0NhP"
                        target="_blank">4 - Inativar funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaErlzChNhIGGDXcvQ?e=tvuMHH"
                        target="_blank">5 - Mudar posição crib</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEsE_wkYmpwpv3cGg?e=Vbg6aw"
                        target="_blank">6 - Criar novo cesto</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEt8I9QHvA_q5wGMw?e=FAuVCt"
                        target="_blank">7 - Como fazer relatório de transação</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEuSailccsh4AN9yw?e=KOxPo3"
                        target="_blank">8 - Como fazer relatório de funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEvFLAAvofveSqGvQ?e=kHBCw3"
                        target="_blank">9 - Cadastrar função crib master</a></div>
            </div>
        </div>
        <div id="cribmaster" class="tab-content">
            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEjmETmIOPQtcGU9A?e=nO02lV"
                        target="_blank">1 - Navegando pela tela de itens - Histórico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEwzG5as3rzeYrHdQ?e=MbG2gw"
                        target="_blank">2 - Pesquisa cadas função</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaExU06NqmUR_sBkxQ?e=lOukuw"
                        target="_blank">3 - Cadastrar centro custo crib</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEyLqqm5wBH_KKFyg?e=QXJkwc"
                        target="_blank">4 - Cadastrar craft codes</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEzTKsX9tWRNOEkqQ?e=7Ld2OR"
                        target="_blank">5 - Cadastrar novo funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE0yMdDlfSps_qr7Q?e=ncBVzg"
                        target="_blank">6 - Inativar funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE1izs7a5pb1S9GtQ?e=d4mrX9"
                        target="_blank">7 - Acesse ADVWEB</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE2TOdK7HJv3NNfrw?e=7FzYq4"
                        target="_blank">8 - Verificar máquina online</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE30iJsgCgrpQQGWg?e=7YJnjq"
                        target="_blank">9 - Exportar lista</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE4pjzgRRlEhoVMZQ?e=8WuLUJ"
                        target="_blank">10 - Exportar lista itens</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE5Tm4cww5pWgBQEw?e=yZyWEy"
                        target="_blank">11 - Cadastrar item crib master</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE6tdIoQIrULPCSCA?e=LmdHsF"
                        target="_blank">12 - Como criar bin</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE7l1WQiChYSD1azg?e=U1d4Fj"
                        target="_blank">13 - Alterar item crib</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE897kfbzJeT7L0Tw?e=Dn3o1m"
                        target="_blank">14 - Exportar relatório</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE-b1lwBWd4IXA4eA?e=tEv9G4"
                        target="_blank">15 - Agendar relatório</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE9MadbbOvJSkSnLQ?e=5fwRL3"
                        target="_blank">16 - Verificar relatório agendado</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaE_rlNuIwXRSUhZrA?e=Z0YMH3"
                        target="_blank">17 - Cadastrar grupo</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFAkSKX34lIF8jYFw?e=6kPsKK"
                        target="_blank">18 - Desinstalar crib master</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFByuQBYxDSZ4dDrw?e=2oCjHT"
                        target="_blank">19 - Como instalar crib master</a></div>



            </div>
        </div>
        <div id="biometria" class="tab-content">

            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFD6sXjvZYxhxfx0g?e=n9W5lf"
                        target="_blank">1 - Tecnologia de Reconhecimento Facial</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFEaNRuvtQqIVZZvw?e=FXDZrn"
                        target="_blank">2 - Como cadastrar acesso biométrico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFFdK0PcDnXzZEsOA?e=bfAXdq"
                        target="_blank">3 - Como fazer o Acesso</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFGDHxIyRjPBPcM9Q?e=YTCt5J"
                        target="_blank">4 - Como identificar digital já cadastrada</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFHTiN89Aap_vDlgQ?e=SuqxK7"
                        target="_blank">5 - Como remover digital cadastrada</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFIluE--euTZiNBnA?e=KNODAd"
                        target="_blank">6 - Possíveis causas de erro no cadastro biométrico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaFJEDrGl4byzK_BVg?e=8K0LtI"
                        target="_blank">7 - Componentes para Montagem</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaEJ6G02fC5t7-plfg?e=EWcPVH"
                        target="_blank">8 - Acessando o sistema com biometria</a></div>
            </div>
        </div>
        <div id="terminal" class="tab-content"> <!-- falta esse -->
            <div class="video-grid">
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">1 - Componentes do totem de auto-atendimento</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">2 - Instalando os componentes do totem de auto-atendimento</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">3 - Abastecendo a impressora</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">4 - Configurações iniciais do ponto de uso</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">5 - Opções pré definidas de configurações do ponto de uso (HOG)</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">6 - Como mudar o layout do sistema de visualização de EPIs</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">7 - Como habilitar o sistema para o modo offline, em caso de queda da
                        internet</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">8 - Como criar um novo usuário para crachá não habilitado no sistema</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">9 - Como habilitar um crachá para funcionar como login e senha</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">10 - Opções de uso do modo favoritos do sistema</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">11 - Sobre a opção Hide Restricted Items</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">12 - Sobre a impressão do ticket</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">13 - Sobre a função Show Login text input</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">14 - Sobre a função time out</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">15 - Opção use password</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">16 - Sobre as opções logout on issue</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">17 - Opções de diagnóstico</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">18 - Modo configuração - gerir funcionários</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">19 - Modo configuração - cestos</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">20 - Modo configuração nova posição</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">21 - Modo configuração - cesto, edit bin</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">22 - Modo configuração - funcionários</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">23 - Modo configuração - Editar funcionário</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">24 - Modo configuração - itens e suppliers, criar novo item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">25 - Modo configuração - itens e suppliers, editar item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">26 - Modo configuração - Transações</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">27 - Como emitir um item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">28 - Mensagem de erro ao emitir um item</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">29 - Navegando pela tela de itens</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">30 - Informações de tela e configuração de teclado</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">31 - Configuração da impressora</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">32 - Inicializando o ATR com o Windows</a></div>
                <div class="video"><a href="https://1drv.ms/v/s!AiOrm_bomV8JhaBj9ohSf4HPKWryNA?e=xJPaOy"
                        target="_blank">33 - Configurações iniciais crib master</a></div>


            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>